<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Contact - Twitter Keyword Search</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header" class="alt">
		<a th:href="@{/index}" class="logo"><strong>Twitter Keyword Search</strong> <span>by Tianyi</span></a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			<li><a th:href="@{/search}">Search</a></li>
			<li><a th:href="@{/contact}">Contact Me</a></li>
		</ul>
		<ul class="actions stacked">
			<li><a th:href="@{/}" class="button primary fit">Home Page</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main" class="alt">

		<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>Advice?</h2>
				</header>
				<p>If you have any advice for my project, please inform me!</p>
			</div>
		</section>

	</div>

	<!-- Contact -->
	<section id="contact">
		<div class="inner">
			<section>
				<form method="post" th:action="@{/thankyou}">
					<div class="fields">
						<div class="field half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="primary" /></li>
						<li><input type="reset" value="Clear" /></li>
					</ul>
				</form>
			</section>
			<section class="split">
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-envelope"></span>
						<h3>Email</h3>
						<a href="mailto:tty8128@Bu.edu">tty8128@bu.edu</a>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-phone"></span>
						<h3>Phone</h3>
						<span>(+1) 857-498-0354</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-home"></span>
						<h3>Address</h3>
						<span>40 Malvern St<br />
										Boston, MA, 02134<br />
										United States of America</span>
					</div>
				</section>
			</section>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://facebook.com/tty8128" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/adkmrx/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="https://github.com/8128/" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="https://www.linkedin.com/in/tty/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; tty8128@bu.edu</li><li>Design: <a href="mailto:tty8128@bu.edu">Tianyi Tang</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>