<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Twitter Keyword Search</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
		<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a th:href="@{/index}" class="logo"><strong>Twitter Keyword Search</strong> <span>by Tianyi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a th:href="@{/search}">Search</a></li>
							<li><a th:href="@{/contact}">Contact Me</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a th:href="@{/}" class="button primary fit">Home Page</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Search for the most relevant twitter</h1>
							</header>
							<div class="content">
								<p>Using different algorithms to find the most relevant
									<br>twitters from database or self-uploaded files</p>
								<ul class="actions">
									<li><a th:href="@{/search}" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://facebook.com/tty8128" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/adkmrx/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/8128/" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/tty/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; tty8128@bu.edu</li><li>Design: <a href="mailto:tty8128@bu.edu">Tianyi Tang</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/jquery.scrolly.min.js}"></script>
			<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
			<script th:src="@{/assets/js/browser.min.js}"></script>
			<script th:src="@{/assets/js/breakpoints.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<script th:src="@{/assets/js/main.js}"></script>

	</body>
</html>